<div class="page">

  <div id="header">
    <div id="title">
      <h1>Loan Prequalification</h1>
    </div>

    <div id="menucontainer">

      <ul id="menu">
        <li>
          <a routerLink="/LoanApplication/Index">Loan Applications</a>
        </li>
        <li>

          <a routerLink="/Products">Products</a>
        </li>
      </ul>

    </div>
  </div>

  <div id="main">
      <router-outlet></router-outlet> 
    <div id="footer">
      <hr />
      <a href="http://www.amazon.com/gp/product/0470447613?ie=UTF8&tag=bloofsco-20&linkCode=as2&camp=1789&creative=9325&creativeASIN=0470447613">
        Professional Enterprise .NET - Jon Arking & Scott Millett
      </a>
    </div>
  </div>
</div>